   body{
    background: rgb(235,235,235);
    background: linear-gradient(0deg, rgba(235,235,235,1) 41%, rgba(16,99,224,0.4640231092436975) 100%);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  } 
  
  /* Style for the Weather Dashboard */
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 1px solid black;
    
  }


  #citySearchh{
      padding: 10px;
      width: 205px;
  }

  /* style for city search button  */
  #searchBtn{
    width: 243px;
    background-color: rgb(100, 100, 253);
    border-radius: 5px;
    color: white;
    font-size: 18px;
  }


  /* Style for input form field / Side bar  */
  .col-sm-4{
      padding-top: 25px;
      padding-right: 5px;
      margin-left: 20px;
  }

  .col-sm-6 h1{
    padding-top: 25px;
    padding-left: 80px;
  }

  .col-sm-6{
    border-style:double;
  }

  /* style for list items that come from form input  */
  #appendEl{
      width: 200px;
     font-size: 30px;
     list-style-type: none;
     text-align: center;
     padding-left: 0px;
  }

  #appendEl li {
      padding-bottom: 10px;
      background-color: lightgray;
      border-bottom: 1px solid black;
     
  }


  /* Styles for the 5 day forecast section */

  #DayForecast{
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
  }


  #appendEl{
      cursor: pointer;
  }


  div.col-sm{
    border: 1px solid black;
    
  }

 

  /* Media Queries Starts  */

  /* Tablets  */
  @media screen and (max-width: 766px) {    /* If the Width of the screen is SMALLER than 980px  */
    div.container{
       
        max-width: 777px;
    }
      
 div.col-sm-6{
    margin-left: 10px;
    margin-top: 20px;
 }
 

 div.col-sm-4{
 margin-left: 115px;
 }
  }



  
 
/* moblie screens  */
   @media screen and (max-width: 480px) {

    .col-sm-4{
        text-align: center;
        margin-left: 5px;
    }
 
    ul#appendEl{
        width: 460px;
    }

    div.col-sm-6{
        text-align: center;
        margin-left: 10px;
    }
   }