    /* Style for the Weather Dashboard */
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 1px solid black;
  }


  #citySearchh{
      padding: 10px;
      width: 200px;
  }

  /* style for city search button  */
  #searchBtn{
    width: 225px;
    padding: 5px;
    background-color: rgb(100, 100, 253);
    border-radius: 5px;
    color: white;
    font-size: 18px;
  }


  /* Style for input form field / Side bar  */
  .col-sm-4{
      padding-left: 25px;
  }

  /* style for list items that come from form input  */
  #appendEl{
      width: 200px;
     font-size: 30px;
     list-style-type: none;
     background-color: lightgray;
     text-align: center;
     padding-left: 0px;
  }

  #appendEl li {
      padding-bottom: 10px;
  }